/* navbar (default.vue) */
.navbar-container{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  border-bottom:@border-grey;
  
  .navbar{
    margin: 0 auto;
    min-width: 290px;
    max-width: 960px;
    padding: 10px 0px;
    
    /* Logo */
    .logo{
      img ,span{
        display: inline-block;
        vertical-align: middle;
      }
      img{
        height: 40px;
      }
      span{
        font-size: 18px;
        padding: 5px;
      }
    }

    /* Search bar */
    .has-icon-right{
      /* 把 Search bar 向右移15px [美观] */
      margin-left: 15px;
    }
    .form-input{
      width: 300px;
      padding: 0.3rem 1.2rem;
      border-radius: 20px;
    }
    .icon-search:before{
      width:11px;
      height: 11px;
    }
    .icon-search{
      margin-right: 10px;
    }
  }
}

/*
  Responsive
*/
/* Large Device */
@media screen {

  @media (max-width: 980px) {
    .navbar-container .navbar{
      padding: 10px 10px;

      .navbar-brand{
        width: 125px;
      }
    }
  }
  @media (max-width: 601px) {
    .navbar-container .navbar{
      .navbar-brand span{
      display: none;
      }
      .has-icon-right{
        margin-left: 10px;
      }
      .navbar-brand{
        width:auto;
      }
    }
  }
  @media (max-width: 480px) {
    .navbar-container .navbar{
      .form-input{
        width: auto;
      }
    }
  }
}



  
