@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?zgma6f');
  src:  url('fonts/icon.eot?zgma6f#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?zgma6f') format('truetype'),
    url('fonts/icon.woff?zgma6f') format('woff'),
    url('fonts/icon.svg?zgma6f#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e902";
}
.icon-brand:before {
  content: "\e902";
}
.icon-tweet:before {
  content: "\e902";
}
.icon-social:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-brand2:before {
  content: "\e903";
}
.icon-social2:before {
  content: "\e903";
}
.icon-reply:before {
  content: "\e15e";
}
.icon-comment:before {
  content: "\e900";
}
.icon-map:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e145";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-copy:before {
  content: "\e14d";
}
.icon-date:before {
  content: "\e916";
}
.icon-logout:before {
  content: "\e879";
}
.icon-explore:before {
  content: "\e87a";
}
.icon-mail:before {
  content: "\e0e1";
}
.icon-notifications:before {
  content: "\e7f4";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-search:before {
  content: "\f002";
}
.icon-love:before {
  content: "\f004";
}
.icon-share:before {
  content: "\f064";
}
